/cryptol-files
*__pycache__/
data
minhash_outputs*
recycle*
*.gexf
*.graphml
*.csv
jsonl
saw_passes
backup_v*
sawfiles.txt
secrets.txt
test.py
main.py
pandahelper.txt
processing.txt
Token_Processing.ipynb
Test.ipynb
Saw_Scripts.ipynb
foo.log
.vscode
.gitignore
.DS_Store
.gitignore
.env
new_implementations
toy-cryptol-ast/dist-newstyle
base
adapters
UH-Insure-NSA
#cache
temp
plots
notebooks/holdout_inspection.ipynb
notebooks/[!0-9]*.ipynb
src/eval/add
src/eval/GPT_recommendations
src/eval/new_implementations
src/eval/salsa20
src/eval/colab_eval.py
cache
src/eval/.data/test
src/eval/.data/saw_template.txt